body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #222;
}
header {
    background-color: #005bea;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 30px 16px;
    text-align: center;
}
footer {
    background-color: #eee;
    text-align: center;
    padding: 10px 0;
    font-size: .9em;
    color: #444;
    margin-top: 40px;
}